:root {
  --form-box-shadow: inset 0 --border-width 0.1875rem rgba(#000, 0.06);
  --form-box-shadow-focus: var(--form-box-shadow), 0 0 0.3125rem #{$action-color};
}

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 600;
  margin-bottom: var(--spacing--small);
  padding: 0;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: var(--spacing--small);
  @extend %fix-ios-tap-highlight;
}

input, select, textarea {
  display: block;
  font-family: var(--font-family);
  font-size: 1rem;
}

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'],
[type='email'], [type='month'], [type='number'], [type='password'],
[type='search'], [type='tel'], [type='text'], [type='time'], [type='url'],
[type='week'], input:not([type]), textarea {
  @extend %fix-ios-tap-highlight;
  appearance: none;
	-webkit-tap-highlight-color : transparent !important;
  // background-color: transparent;
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--form-box-shadow);
  box-sizing: border-box;
  margin-bottom: var(--spacing--small);
  padding: calc(var(--spacing) / 3);
  transition: all var(--duration) var(--timing);
  width: 100%;

  &:focus {
    // box-shadow: var(--form-box-shadow-focus);
  }

  &:disabled {
    cursor: not-allowed;

    &:hover {
      border: var(--border);
    }
  }

  &::placeholder {
    color: lightgray;
  }
}

[type='search'] {
  -webkit-appearance: textfield;
}
[type='file'] {
  @extend %fix-ios-tap-highlight;
  margin-bottom : var(--spacing--small);
  width         : 100%;
}

[type='checkbox'], [type='radio'] {
  @extend %fix-ios-tap-highlight;
  display: inline;
  margin-right: var(--spacing--small);
}

select {
  @extend %fix-ios-tap-highlight;
  margin-bottom: var(--spacing--small);
  width: 100%;
}

[type='checkbox'], [type='radio'], [type='file'], select {
  &:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
  }
}
