//——————————————————————————————————————————————————————————————————————————————
// Links (Anchors)
//——————————————————————————————————————————————————————————————————————————————
a,a:link,a:visited {
	-webkit-tap-highlight-color: transparent !important;
}

.typography-page--body {
	main {
		h1,h2,h3,h4,h5,h6 {
			line-height : 1 ;
			margin : 0 auto 1rem ;
		}
		h2 {
			margin-bottom : 2rem;
		}
		h3,h4,h5 {
			margin-top : 2.5rem ;
			margin-bottom : .25rem ;
			font-weight : 500;
			color: #2f3747;
		}
		section {
			padding : 2em 0;
			margin-bottom : 2em;
		}
	}

	.demo-heading-group {
		padding : 0;
		margin : 0;
		h1,h2,h3,h4,h5,h6 {
			font-weight : 600 !important;
			padding : 0;
			display : block;
			width : 100%;
			line-height : 1 !important;
			margin : 1rem auto 1rem !important;
			opacity : .75 !important;
		}
	}

	.demo-paragraph,.demo-preformatted-styles,.demo-text-styles {
		p {
			line-height : 1.75 !important;
			margin : .5rem auto !important;
		}
	}
}

//——————————————————————————————————————————————————————————————————————————————
// Buttons
//——————————————————————————————————————————————————————————————————————————————

//——————————————————————————————————————————————————————————————————————————————
// Form Inputs
//——————————————————————————————————————————————————————————————————————————————

[type='color'], [type='date'],
[type='datetime'], [type='search'],
[type='datetime-local'], [type='tel'],
[type='email'], [type='month'],
[type='number'], [type='password'],
[type='text'], [type='time'], [type='url'],
[type='week'], input:not([type]), textarea {
	font-family : inherit;
	font-size : 1em;
	padding : .75em;
	display : block;
	appearance : none;
	border-radius : .25em;
	border : none;
	outline : 2px solid lightgray;
	outline-offset: -2px;
	background-color : whitesmoke;
	cursor : text;
	transition : all 120ms ease-out;
	line-height : 1;
	margin : .25em auto 1.75em;
	font-weight : normal;
	width : 100%;
	user-select : none;
	color: #444;
	@include set-adjusted-background-colors(whitesmoke);
	@include set-adjusted-border-colors(lightgray);
	&:focus {
		outline-color: $primary-color;
		box-shadow : 0 0 0 2px rgba($primary-color,0.25);
	}
}
::placeholder {
	color: gray !important;
}
textarea {
	line-height : 1.5;
	resize: vertical;
}
label {
	font-weight : normal;
	font-family : inherit;
	line-height : 1;
	margin : .5em auto .25em;
	cursor : text;
}

//——————————————————————————————————————————————————————————————————————————————
// Navigation Bar
//——————————————————————————————————————————————————————————————————————————————

nav {
  background-color : $navbar-color;
  color            : white;
	
	transition : none;
  ul {
    gap: 0 !important;
    margin : 0;
    padding : 0;
	  align-items : stretch;
	  // transition : none;
    li {
      margin  : 0 !important;
      padding : 0 !important;
	    gap : 0 !important;
      display : inline-flex;
	    transition : none;
      a,a:link,a:visited {
        color : white !important;
        @include set-adjusted-text-colors(white);
        @extend %set-focus-effect;
        display : block;
        text-align : center;
        line-height : 1.5;
        padding : 1em 0;
        vertical-align : middle;
        width : 100%;
        margin : 0 !important;
        background-color : $navbar-color;
        outline : 2px solid $navbar-color;
	      outline-offset : -2px !important;
	      border : 0 !important;
	      // transition : all 120ms ease-out;
	      transition : background-color 120ms ease-out,
	      color 120ms ease-out,
	      outline-color 120ms ease-out;
        @include set-adjusted-background-colors($navbar-color);
        @include set-adjusted-border-colors($navbar-color);

	      
        &:focus {
          outline-color : $primary-color !important;
	        outline-offset: -2px !important;
	        // outline-style: dotted !important;
	        
	        // text-decoration-color: rgba(white,0.5) !important;
	        // text-decoration-line: underline !important;
	        // text-decoration-skip: auto !important;
	        // text-decoration-thickness: 2px !important;
	        // text-decoration-style: dotted !important;
	        // text-underline-offset: 4px !important;
	
	        text-decoration : none !important;
	        box-shadow : inset 0 0 0 3px rgba($primary-color, 0.2);

        }
        &[aria-current='page'] {
          // background-color : active-color($navbar-color) !important;
          // outline-color : active-color($navbar-color) !important;
          // cursor : not-allowed;
          // pointer-events: none;
          // color: rgba(white,0.25) !important;
        }
      }
    }
  }

	a {
		border : 0 !important;
		// transition : all 200ms ease-out !important;
		transition : background-color 120ms ease-out,
		color 120ms ease-out,
		outline-color 120ms ease-out;
		&:not([aria-current='page']) {
			background-color : $navbar-color;
			outline : $navbar-color solid 2px !important;
			outline-offset: -2px;
			margin : 0 !important;
			&:hover {
				outline-color: darken($navbar-color, 8%) !important;
				border : 0 !important;
			}
		}
	}
	
	@include until(560px) {
		position : relative;
		ul {
			position : absolute;
			top   : 0;
			left  : 0;
			right : 0;
			z-index : 1000;
			transform: translate3d(0,-100%,0);
		}
		// text-align : right;
	}
  @include at-least(560px) {
    //noinspection CssOverwrittenProperties
    ul {
	    top : 0;
	    left : 0;
	    right : 0;
	    transform : translate3d(0, 0, 0);
	    position : relative;
      display : flex;
      flex-direction : row;
      width     : 92% !important;
      max-width : 768px !important;
      max-width : 65ch !important;
      margin    : 0 auto !important;
      justify-content : flex-end !important;
      gap: 0 !important;
      li {
        display : inline-flex;
        width : unset;
        margin : 0 !important;
        padding : 0 !important;
        a {
	        font-weight : 400 !important;
          width : unset;
          display : inline-block;
	        line-height : 1 !important;
          padding : 1em !important;
          margin : 0 !important;
        }
      }
    }
  }
}

//——————————————————————————————————————————————————————————————————————————————
// Mobile Navigation Control
//——————————————————————————————————————————————————————————————————————————————

#mobile-nav-control {
	all: unset;
	display : inline-block;
	box-sizing : border-box;
	transition : all 120ms ease-out;
	cursor : pointer;
	-webkit-tap-highlight-color: transparent !important;

	*, *::before, *::after, &::before, &::after {
		box-sizing : border-box !important;
	}


	@include hide-visually();

	& + label {
		-webkit-tap-highlight-color : transparent !important;
		all : unset;
		transition : all 120ms ease-out;
		cursor     : pointer;
		display : inline-block;
		font-family : $font-family;
		font-size : 1em;
		font-weight : 500;
		line-height : 1;
		margin : 0;
		padding : 1em;
		content : 'Menu' !important;
		box-sizing : border-box !important;
		user-select : none;
		appearance : none;


		$_this-color: darken($navbar-color, 5%);
		background-color : $_this-color;
		outline : 2px $_this-color solid;
		outline-offset: -2px;
		border : none;

		@include set-adjusted-background-colors($_this-color);
		@include set-adjusted-border-colors($_this-color);



		*,*::before,*::after,&::before,&::after {
			box-sizing : border-box !important;
			user-select : none;
			appearance : none;
		}

		&::before {
			// content : 'Menu';
		}

	}

	&:focus {
		& + label {
			border-color : $primary-color;
			outline : $focus-fx-outline;
			outline-offset: $focus-fx--offset;
			box-shadow : inset 0 0 0 3px rgba($primary-color, 0.25);
		}
	}

	&:checked {
		& + label {
			content : '' !important;
			background-color : tomato;
			outline : tomato solid 2px;
			outline-offset: -2px;
			@include set-adjusted-background-colors(tomato);
			@include set-adjusted-border-colors(tomato);
			&::before {
			}
		}
		&:hover {
			& + label {
				background-color : darken(tomato,10%);
				outline-color : darken(tomato,10%);
			}
		}
		&:focus {
			& + label {
				background-color : darken(tomato, 15%);
				outline-color    : $primary-color !important;
				box-shadow : inset 0 0 0 3px rgba($primary-color,0.25);
			}
		}
		&:active {
			& + label {
				background-color : darken(tomato, 20%) !important;
				outline-color    : darken(tomato, 20%) !important;
			}
		}
		/* & ~ ul {
			// position : relative;
			transform : translate3d(0, 3em, 0);
		} */
	}


	@include at-least(560px) {
		display : none;
		visibility : hidden;
		pointer-events: none;
		@include hide-visually();
		& + label {
			display        : none;
			visibility     : hidden;
			pointer-events : none;
			@include hide-visually();
		}
	}
}

//——————————————————————————————————————————————————————————————————————————————
// Skip-to-main-content link
//——————————————————————————————————————————————————————————————————————————————

$_skip-link-bg: mix($primary-color, white, 90%);
.skip-link {
	position         : absolute;
	border-radius    : 0 3px 8px 0;
	font-weight      : 500;
	left             : 0;
	color            : white !important;
	padding          : .75em 1.25em;
	letter-spacing   : 1px;
	transition       : all 150ms ease-out !important;
	cursor           : pointer;
	appearance       : none;
	display          : block;
	background-color : $_skip-link-bg;
	border           : none !important;
	outline          : 2px solid $_skip-link-bg;
	outline-offset   : -2px;
	text-decoration  : none !important;
	z-index          : -100;
	transform        : translate3d(0, -3.5rem, 0);
	-webkit-tap-highlight-color : transparent !important;

	&:hover {
		text-decoration  : none !important;
		$_color          : darken($_skip-link-bg, 10%);
		background-color : $_color;
		outline-color     : $_color;
	}
	&:focus {
		text-decoration  : none !important;
		// top: 0 !important;
		transform        : translate3d(0, 0, 0);
		$_color          : darken($_skip-link-bg, 16%);
		background-color : $_color;
		// background-color : mix($primary-color, white, 90%);
		outline-color    : $primary-color;
		outline-offset : -2px;
		outline-width : 2px;
		z-index          : 2200;
		box-shadow       : 0 0 0 4px rgba($primary-color, 0.3) !important;
		text-shadow : 0 0 5px rgba(white,.5);

	}
	&:active {
		text-decoration  : none !important;
		$_color          : darken($_skip-link-bg, 35%);
		background-color : $_color;
		outline-color     : $_color;
	}
	&:link, &:visited {
		text-decoration : none !important;
	}
}
